body{
    box-sizing: border-box;
}
ul {
    text-decoration: none;
}

li{
    text-decoration: none;
}

.top-bar{
    border: 2px solid red;
    display: flex;
    align-items: flex-end;
}

.top-bar-items{}

.main-font{}

.font{}

.search-bar{}

.input-icons{}

.search-go{}

.language{}

.language-selection{}

.language-option{}

.footer{}

.footer-1{}

.footer-2{}