box-sizing{
    
}

.pos{
    width: auto;
    height: 2em;
}


.card{
    background-color: white;
}

.inner-bar{
    width: 50%;
    height: 2.3em;
    margin: 250px auto;
    border: 3px solid red;
    border-radius: 10em;
    background: white;
}